.privacy-policy-container {
  padding: 100px 60px;
  font-family: "Mulish", sans-serif;
  word-wrap: break-word;
}

.privacy-heading {
  font-weight: bold;
}

h1,
h2 {
  text-align: center;
  margin: 50px 0;
}

@media screen and (max-width: 772px) {
  .privacy-policy-container {
    padding: 100px 40px;
    width: 100%;
  }
}
